# Base de données PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/malapmetsi?schema=public"

# API Configuration
PORT=3001
NODE_ENV=development

# JWT Secret (générer avec: openssl rand -base64 32)
JWT_SECRET=your-secret-key-here

# Frontend URL (pour CORS)
FRONTEND_URL=http://localhost:5174
